<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Header</title>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/header.css">
</head>
<body>
    <header>
       <h1>The Design Superhero.com</h1>
        <nav>
            <ul>
                <li id="portfolio"><a href="">Portfolio</a></li>
                <li id="contact"><a href="">Contact</a></li>
                <li id="about"><a href="">About</a></li>
                <li id="services"><a href="">Services</a></li>
            </ul>
        </nav>

    </header>
</body>
</html>