<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sidebar</title>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/sidebar.css">
</head>
<body>
      <header>
         <h1></h1>
          <nav>
              <ul>
                  <li><a href="">we are flipp</a></li>
                  <li><a href="">our work</a></li>
                  <li><a href="">magazine</a></li>
                  <li><a href="">get in touch</a></li>
              </ul>
          </nav>
      </header>

      <ul id="icons">
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
      </ul>

      <p>privacy policy | &copy 2014</p>
</body>
</html>






