<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CTA</title>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/cta.css">
</head>
<body>
    <header>
        <img src="" alt="">
        <h1>Firefox</h1>
        <p>mozilla</p>
    </header>
    <p id="main">Committed to you,<br> your privacy and an open Web</p>

    <button type="button">Firefox<br> Free Download<br> English(US)</button>

    <p id="last">System & Languages | What's New | Privacy</p>

</body>
</html>