<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Feature</title>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/feature.css">
</head>
<body>
    <header>
        <h1>Features.</h1>
        <nav>
            <ul>
                <li><a id="design" href="">Design</a></li>
                <li><a href="">Manage.</a></li>
                <li><a href="">Publish.</a></li>
            </ul>
        </nav>
    </header>
    <p id="button"><a href=""> -</a></p>

    <section id="firstSection">
        <h2>Pixel Perfect <br> Responsive</h2>
        <img src="img/responsive.jpeg" alt="">
        <p>
            Create pixel-perfect responsive websites with unique custom design, completely code-free.
            Easily manage all versions of your site from one dashboard by creating breakpoints for
            different screens and devices. Hide or add design elements and adapt typography and navigation
            to create a perfect mobile experience for all your sites' visitors.
        </p>
    </section>
    <section id="secondSection">
        <h2>Professional Tools.</h2>
        <img src="img/tool.jpeg" alt="">
        <p>
            Design in-browser with a professional web design software that provides you full
            control over all design elements. Start with a blank canvas or use pre-designed layouts
            to save time.
        </p>
    </section>
</body>
</html>