<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/script.js"></script>
</head>
<body>
    <footer>
        <section>
            <ul>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
            </ul>
        </section>
        <section>
            <ul>
                <li>About Us</li>
                <li>Read The Blog</li>
                <li>Get Help</li>
                <li>Follow Us</li>
            </ul>
        </section>
    </footer>
</body>
</html>