<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Footer</title>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/footer.css">
</head>
<body>
    <footer>
         <ul>
             <li id="about"><a href=""><h4>about us</h4></a>
                <p>Learn more about our company and what we strive to accomplish.</p>
             </li>
             <li id="blog"><a href=""><h4>read the blog</h4></a>
                <p>Read our blog and stay up to date with different things.</p>
             </li>
             <li id="help"><a href=""><h4>get help</h4></a>
                <p>Having any trouble? We're here to help.</p>
             </li>
             <li id="twitter"><a href=""><h4>follow tapbots</h4></a>
                <p>If you appreciate what we do, follow us on Twitter.</p>
             </li>
         </ul>
    </footer>
</body>
</html>