<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/script.js"></script>
</head>
<body>
    <section>
        <img src="" alt="">
        <h1>welikesmall.</h1>
        <ul>
            <li>WORK</li>
            <li>COMPANY</li>
            <li>WLAB</li>
            <li><u>CONTACT</u></li>
        </ul>
        <p>for a good time to call</p>
        <p>801.467.2207</p><p>in the SLC</p>
        <p>
            wls address
            252 edison st.
            slc. ut 84111
        </p>
        <p>new business inquiry</p>
        <p>212.533.8526</p><p>please call NYC</p>
        <p>hello@welikesmall.com</p>

        <a href="default.asp">
            <img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;border:0">
        </a>
        <a href="default.asp">
            <img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;border:0">
        </a>
        <a href="default.asp">
            <img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;border:0">
        </a>


    </section>
</body>
</html>