<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/script.js"></script>
</head>
<body>
    <img src="" alt="" id="background">
    <div>
        <img src="" alt="">
    </div>
    <header>
        <h1>WELIKESMALL.</h1>
        <ul>
            <li>WORK</li>
            <li>COMPANY</li>
            <li>WLAB</li>
            <li><u>CONTACT</u></li>
        </ul>
    </header>
    <section>
        <h2>FOR A GOOD TIME CALL</h2>
        <p>801.467.2207</p><p>in the SLC</p>
    </section>
    <section>
        <p>
           WLS ADDRESS
           252 EDISON ST.
           SLC. UT 84111
        </p>
    </section>
    <section>
        <h2>
            NEW BUSINESS INQUIRY
        </h2>
        <p>212.533.8526</p><p>please call NYC</p>
    </section>
    <div>
    <p>HELLO@WELIKESMALL.COM</p>
    </div>
    <article>
        <section>
        <a href="default.asp">
            <img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;border:0">
        </a>
        </section>
        <Section>
            <a href="default.asp">
                <img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;border:0">
            </a>
        </Section>
        <section>
            <a href="default.asp">
                <img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;border:0">
            </a>
        </section>
    </article>
</body>
</html>