<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/script.js"></script>
</head>
<body>
    <header>
        <h1>welikesmall.</h1>
        <nav>
            <ul>
                <li><a href="">work</a></li>
                <li><a href="">company</a></li>
                <li><a href="">wlab</a></li>
                <li><a href="">contact</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <p>for a good time to call</p>
        <p>801.467.2207</p><p>in the SLC</p>
    </section>
        <p>
            wls address
            252 edison st.
            slc. ut 84111
        </p>
    <section>
        <p>new business inquiry</p>
        <p>212.533.8526</p><p>please call NYC</p>
    </section>
    <p>hello@welikesmall.com</p>
    <ul>
        <li><a href=""></a>Twitter</li>
        <li><a href=""></a>Facebook</li>
        <li><a href=""></a>Vine</li>
    </ul>
</body>
</html>