<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blog</title>
    <script src="js/script.js"></script>
</head>
<body>
    <section>
        <h1>Weblog</h1>
        <ul>
            <li><h3>Categories</h3></li>
            <li><a href="">Design</a></li>
            <li><a href="">Expression Engine</a></li>
            <li><a href="">Business</a></li>
            <li><a href="">Miscellaneous</a></li>
            <li><a href="">Tutorials</a></li>
            <li><a href="">All Categories</a></li>
        </ul>
        <ul>
            <li><h3>Popular Entries</h3></li>
            <li><a href="">31Three.com Redesigned</a></li>
            <li><a href="">Happy Daddy</a></li>
            <li><a href="">ExpressionEngine Control Panel Theme...</a></li>
            <li><a href="">Insurance Pet Insurance Process</a></li>
            <li><a href="">So long my friend...</a></li>
            <li><a href="">View Archives</a></li>
        </ul>

        <article>
            <h1>So long my friend...</h1>

            <p> My dear friend and design comrade <a href="">Drew Warkentin</a> recieved his US Visa this past Thursday after almost 2
            years of red-tape. Yesterday while Drew was on a plane to California a U2 song came on the radio that seemed very fitting..
        </p>
            <p>
                All the obstacles in my way, now
                Are disappearing every day, now
                I'm getting closer
                We're getting closer to home
                It won't be long until the summer comes
            </p>
            <p>Congratulations Drew... I'm sad to see you go, but relieved that you finally made it.</p>
        </article>
    </section>

    <footer>
        <p><a href="html_images.asp">Drew Warkentin</a></p>
        <p>
            Thank you my friend! All the best luck to you at 31Three.
        </p>
    </footer>

    <section>
        <img src="img/blog.png" alt="">
        <h4>
            Hello my name is...
        </h4>
        <p>
            Jesse Bennett-Chamberlain, a stay at home designer from Grimsby ON, Canada. To get in touch use the <a href="html_images.asp">contact form.</a>
        </p>


        <h2>Side Links</h2>
        <p>An <a href="html_images.asp">enjoyable interview</a> with typographer Frank Storm. I love
            this snippet. "When I try to think of what to do and no idea comes, I know I'd better
            go chop some wood or cut grass to clean my mind. Then if still nothing comes, I go to a local pub to drink a few beers
            and consult the farmers. When I once tried to explain to them what typography is,
            they laughed: 'are you stupid?'... 'I am' I answered," I only wish I could be half
            as stupid.
        </p>
        <p>
            <a href="html_images.asp">viaLetter - Spell it out</a>
        </p>
        <p>
            50% Off DSType at <a href="html_images.asp">TypeTrust</a>
        </p>
        <p>
            Apple is currently looking for a <a href="html_images.asp">web developer, desktop software engineer,</a>
            and a <a href="html_images.asp">javascript developer.</a> Via <a href="html_images.asp">Aunthentic Jobs.</a>
        </p>
        <p>
            <a href="html_images.asp">Blueprint</a> A Css Framework. This is looking very very promising... take a minute and check out the
            <a href="html_images.asp">tutorial.</a> Via <a href="html_images.asp">Mark Boulton.</a>
        </p>
    </section>
</body>
</html>