<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/script.js"></script>
</head>
<body>
    <h1>Weblog</h1>
    <ul>
        <li><strong>Categories</strong></li>
        <li>Design</li>
        <li>Expression Engine</li>
        <li>Business</li>
        <li>Miscellaneous</li>
        <li>Tutorials</li>
        <li>All Categories</li>
    </ul>
    <ul>
        <li><strong>Popular Entries</strong></li>
        <li>31Three.com Redesigned</li>
        <li>Happy Daddy</li>
        <li>ExpressionEngine Control Panel Theme...</li>
        <li>Insurance Pet Insurance Process</li>
        <li>So long my friend...</li>
        <li>View Archives</li>
    </ul>
    <article>
        <img src="" alt="">
        <p>
            <strong>Hello my name is...</strong><br>
            Jesse Little, a stay at home designer from Grimsby ON, Canada. To get in touch use the <a href="html_images.asp">contact form.</a>
        </p>
    </article>
    <article>
        <h1>So long my friend...</h1>
        <Section>
            <img src="" alt="">
           <p> My dear friend and design comrade Drew Warkentin recieved his US Visa this past Thursday after almost 2
            years of red-tape. Yesterday while Drew was on a plane to California a U2 song came on the radio that seemed very fitting...</p>
        </Section>
        <section>
            <p>
                All the obstacles in my way, now
                Are disappearing every day, now
                I'm getting closer
                We're getting closer to home
                It won't be long until the summer comes
            </p>
        </section>
        <section>
            <p>Congratulations Drew... I'm sad to see you go, but relieved that you finally made it.</p>
        </Section>
    </article>
    <article>
        <h2>Side Links</h2>
        <p>An <a href="html_images.asp">enjoyable interview</a> with typographer Frank Storm. I love
            this snippet. "When I try to think of what to do and no idea comes, I know I'd better
            go chop some wood or cut grass to clean my mind. Then if still nothing comes, I go to a local pub to drink a few beers
            and consult the farmers. When I once tried to explain to them what typography is,
            they laughed: 'are you stupid?'... 'I am' I answered," I only wish I could be half
            as stupid.
        </p>
        <p>
            <a href="html_images.asp">viaLetter - Spell it out</a>
        </p>
        <p>
            50% Off DSType at <a href="html_images.asp">TypeTrust</a>
        </p>
        <p>
            Apple is currently looking for a <a href="html_images.asp">web developer, desktop software engineer,</a>
            and a <a href="html_images.asp">javascript developer.</a> Via <a href="html_images.asp">Aunthentic Jobs.</a>
        </p>
        <p>
            <a href="html_images.asp">Blueprint</a> A Css Framework. This is looking very very promising... take a minute and check out the
            <a href="html_images.asp">tutorial.</a> Via <a href="html_images.asp">Mark Boulton.</a>
        </p>
    </article>


<footer>
    <a href="html_images.asp">Drew Warkentin</a>
    <p>
        Thank you my friend! All the best luck to you at 31Three.
    </p>
</footer>

</body>
</html>