

body{
    background-color: #c5d5e2;
}

header{
    background-image: url("../img/logo-03.png");
    background-repeat: no-repeat;
    background-size: 200px;
    height: 200px;
    margin: 30px;
}

img:nth-child(1){
    margin-left: 1298px;
    position: relative;
    bottom: 30px;
}

p:nth-child(2){
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
}

img:nth-child(3){
    background-image: url("../img/button-03.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-left: 570px;
    height: 100px;

}

p:nth-child(4){
    text-align: center;
    font-size: 10px;
    margin-right: 50px;
    line-height: 0px;
}