<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/script.js"></script>
</head>
<body>
    <section>
        <img src="" alt="">
        <h1>About Aaron</h1>
        <p>
            Aaron Little is working his way up the ladder. He is in school for web development & design.
            He has had prior experience with coding before he entered college and hopes to make the most of his experience.
            He loves to code and to figure out errors. He hopes one day to have his own company making web and mobile applications.
        </p>
        <p>
            Aaron strives to give you the best user friendly design he can. He is willing to try any kind of websites and creates
            it totally from scratch. He practices everyday and loves the challenge. He is here for the customers satisfaction and
            will work diligently until the customer is satisfied.
        </p>
        <p>
            Aaron Little was born and raised in Troy, Texas. He moved to China Spring, Texas when he was 16. He got married
            at the age of 20 and moved to Temple, Texas. He started coding on his spare time and loves to do it. He now is in college for
            the degree and builds websites on the side.
        </p>
        <p>
            "Aaron is a very focused individual who seems to love his job. He strives to keep the customer happy and gives them what they want.
            He does fantastic work and does it for a reasonable price. I would recommend him to anyone."

            -John Smith the Customer
        </p>
    </section>
</body>
</html>