<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/about.css">
</head>
<body>
    <article>
        <img src="img/justin.jpg" alt="">
        <h1>About <strong>Justin</strong></h1>
        <p id="first">
            Justin Delabar is a web strategist and designer with more than a decade's worth
            of experience, ranging from user research to visual design and front-end development.
        </p>
        <p class="paragraphs">
            Over the past decade Justin has worked with advertising agencies, online magazines,
            and one of the largest universities in the United States. He currently directs design at a
            Fortune 500 travel ecommerce company, where he strives to create immersive and accessible
            online experiences on a daily basis.
        </p>
        <p class="paragraphs">
           He lives in Orlando, Florida with a small herd of cats. When not wrangling said cats, he
           spends the majority of his time reading, writing, designing, and listening to amazing music.
        </p>
        <div id="quote">
            <p id="four">
                "Justin is a very focused individual who can take simple creative direction and turn it
                into something astonishing. I have worked with Justin a number of times on several different
                projects and am continually impressed with his extraordinary abilities and willingness to
                work hard toward a shared goal. Working with Justin is easy and I enjoy a valuable
                business relationship between us both."
            </p>
            <p id="five">
                ~ Joshua Hays, Car People Marketing
            </p>
        </div>
    </article>
</body>
</html>